@font-face {
  font-family: 'Mr De Haviland';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/mrdehaviland/v14/OpNVnooIhJj96FdB73296ksbOg3F60Y.ttf) format('truetype');
}

@font-face {
  font-family: 'MonteCarlo';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.cdnfonts.com/s/93188/MonteCarlo-Regular.woff) format('woff');
}

