@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.backgroundTheme {
  background:url(/main-picture.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  @media screen and (max-width: 768px) {
    background: url(/main-picture-mobile.jpg);
    background-size: cover !important;
  }
}
.mainPicture {
  width: 100vw;
  height: auto;
}
.buttonDirection {
  position: absolute;
  top: calc(50vh - 47px);
  left: calc(50% - 49px);
  background-color: #fff;
  border-radius: 16px;
}
.buttonContent {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all ease 0.3s;
  color: goldenrod;
  font-size: 18px;
  font-weight: 300;
  border-radius: 16px;
  &:hover {
    color: #fff;
    background-color: goldenrod;
  }
}